{% extends '@CTSKapsBundle/layout.html.twig' %}

 {% block body %}
         <div class="container ">
             <h3> Dernieres entrées : </h3>
             <div class="row flex">
                 {% for media in medias %}
                 <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        {% if media.picture is not null %}
                            <img src="{{ media.picture.src }}" alt="{{ media.picture.alt }}" height="200">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title"> 
                                <a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ media.name }}</a>
                            </h4>
                            <p class="card-text"> {{ media.presentation }}</p>
                        </div>
                    </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
 {% endblock %}
