{% extends '@CTSKapsBundle/layout.html.twig' %}

 {% block body %}
<div class="row">
         <div class="container ">
             <div class="row">
                 <div class="col-lg-12">
                    <h3>Dernières découvertes<div></div></h3>
                 </div>
             </div>
             <div class="row">
                 {% for media in medias %}
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if media.picture is not null %}
                            <img class="card-img-top" src="{{ media.picture.src }}" alt="{{ media.picture.alt }}" style="height: 200px; width: 100%; display: block;">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ media.name }}</a>
                            </h4>
                            <p class="card-text"> {{ media.presentation }}</p>
                        </div>
                    </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
</div>
 {% endblock %}
