{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block content %}
     <div class="identity">
         <img class="img" src="picture.src" alt="picture.alt" width="140" height="140">
         <h2 ><a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ media.name }}</a></h2>
         <p class="card-text"> {{ media.presentation }}</p>
     </div>
     {% for article in articles %}
         <div class="col-lg-4">
             <img class="img" src="#" alt="#" width="140" height="140">
             <h3 ><a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ article.title }}</a></h3>
             <p class="card-text"> {{ article.excerpt }}</p>
         </div>
     {% endfor %}
 {% endblock %}
