{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Présentation des revues {% endblock %}
 {% block body %}
     <div class="container ">
        <div class="row">
            <div class="col-md-4">
            <h2>Outils de tri des revues</h2>

            </div>
            <div class="col-md-8">

            </div>
        </div>

         <h2> Ressources en base</h2>

         <div class="row">
             {% for media in medias %}
                 <div class="col-lg-4">
                     {% if media.picture is not null %}
                         <img src="{{ media.picture.src }}" alt="{{ media.picture.alt }}" height="200">
                     {% endif %}
                     <h2 ><a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ media.name }}</a></h2>
                     <p class="card-text"> {{ media.presentation }}</p>
                 </div>
             {% endfor %}
         </div>
     </div>



{% endblock %}
