{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Kapsul de {{ media.name }} {% endblock %}
 {% block body %} 
    <div class="container">
        <div class="row">
            <div class="prez_media">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 ><a href="{{ media.url}}">{{ media.name }}</a><div></div></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="card-text"> {{ media.presentation}}</p>
                    </div>
                    <div class="col-lg-offset-1 col-lg-3">
                        {% if media.picture is not null %}
                            <a href="{{ media.url }}"><img src="{{ media.picture.src }}" alt="{{ media.picture.alt }}" height="250"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="prez_article">
            <div class="row">
                <div class="col-lg-6">
                    <h3 >Les derniers articles <div></div></h3>
                </div>
            </div>
            <div class="row">
                {% for element in pagination.elements %}
                    <div class="col-lg-4">
                        {% if element.picture is not null %}
                            <img src="{{ element.picture.src }}" alt="{{ element.picture.alt }}" height="200">
                        {% endif %}
                        <h4><a href="{{ element.url }}">{{ element.title }}</a></h4>
                        <p class="card-text"> {{ element.excerpt |truncate(120) }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="paginate">
            <div class="row">
                {% for i in 1..pagination.nbPages - 1 %}
                    <ul>
                        <a href="{{path('Front_oneMedia', {'id':media.id, 'page': i })}}"><li>{{i}}</li></a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
 {% endblock %}
