{% block form %}

    <div class="container">

        <div class="row">

            {{ form_start(form) }}
            <div class="row">

                <p> {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </p>
            </div>
            <div class="row">
                <p>
                    {{ form_label(form.url) }}
                    {{ form_widget(form.url) }}
                </p>
            </div>
            <div class="row">
                <p>
                    {{ form_label(form.presentation) }}
                    {{ form_widget(form.presentation) }}
                </p>
            </div>
            <div class="row">
                <p>
                    {{ form_label(form.createdAt) }}
                    {{ form_widget(form.createdAt) }}
                </p>

            </div>
            <div class="row">
                <p>
                    {{ form_label(form.picture) }}
                    {{ form_widget(form.picture) }}
                </p>
            </div>
            <div class="row">
                <p>
                    {{ form_label(form.universe) }}
                    {{ form_widget(form.universe) }}
                </p>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
