{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block title %} Dashboard Admin {% endblock %}
 {% block body %}
    <div class="container mt-4">
        <h2>Gerer les ressources</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Nom de la revue </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for media in listMedia %}
                <tr>
                    <td><h4><a href="{{ path('Front_oneMedia', {'id': media.id})}}">{{ media.name }}</a></h4></td>
                    <td><h4><a href ="{{ path('Back_selector', {'id': media.id})}}" class="btn btn-warning ">Selecteurs</a><h4></td>
                    <td><h4><a href ="{{ path('Back_scrap', {'id': media.id})}}" type="button" class="btn btn-warning "> Scraper</a><h4></td>
                    <td><h4><a href ="{{ path('Back_edit', {'id': media.id})}}" class="btn btn-warning ">Editer</a><h4></td>
                </tr>                                          
            {% endfor %}
            </tbody>
        </table>
        <h2>Inserer une nouvelle revue</h2>
            {% include '@CTSKapsBundle/back/_FormMedia.html.twig' %}

    </div>
 {% endblock %}